.input input[readonly] {
    background-color: #eee;
}

.input {
    margin-bottom: 0.7em;
}

.input label {
    display: inline-block;
    padding-right: 0.3em;
}

.input textarea {
    display: inline-block;
    height: 5em;
    vertical-align: top;
}
